@model AppUserLoginDto

@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-6">
        <div class="mt-4">
            <form class="form p-4 w-75 mx-auto" asp-action="SignIn" asp-controller="Account">


                <div class="mt-3">
                    <label>Kullanıcı adınız:</label>
                    <input asp-for="@Model.Username" class="form-control" />
                </div>

                <div class="mt-3">
                    <label>Parolanız:</label>
                    <input type="password" asp-for="@Model.Password" class="form-control" />
                </div>
                <div class="form-check">
                    <input class="form-check-label" type="checkbox" asp-for="@Model.RememberMe" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Beni Hatırla
                    </label>

                </div>

                <div class="mt-3 text-lg-end">
                    <button type="submit" class="btn btn-md btn-primary">Giriş Yap</button>
                </div>


            </form>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="text-danger" asp-validation-summary="All">
        </div>
    </div>
</div>
