@model AdvertisementAppUserCreateModel
@{
    Layout = "_Layout";
}
<div class="container-md">
    <form asp-action="Send" asp-controller="Advertisement" method="post">
        <input type="hidden" asp-for="@Model.AdvertisementId"/>
        <div class="mb-3">
            
        </div>
    </form>
    
</div>